{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="" />
        <span class="d-none d-lg-block">LodgeIt</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
        <li class="nav-item pe-3">
            <a href="{% url 'check-in' %}">
            <button type="button" class="btn btn-success">
                <i class="bi bi-check-circle me-1"></i> Check-in a Guest
            </button>
            </a>
        </li>
        <!-- End Check in guest button-->
        </ul>
    </nav>
    <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->