{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load humanize %}


{% block content %}
  
<body>
  {% include 'partials/_header.html' %}
  
  {% include 'sidebar.html' %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Analytics</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Analytics</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

  <a href="{% url 'download_analytics_csv' %}"><p style="color: black;"><u>Download Report</u></p></a>

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12">
          <div class="row">
            <!-- Total Revenue Card -->
            <div class="col-xxl-6 col-xl-4 col-lg-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Total Revenue <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-cash-stack"></i>
                    </div>
                    <div class="ps-3">
                      <h6>&#8358;{{total_revenue|floatformat:1|intcomma}}</h6>
                      <span class="text-success small pt-1 fw-bold"></span>
                      <span class="text-muted small pt-2 ps-1"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Total Revenue Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-6 col-xl-4 col-lg-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">
                    Revenue this month <span></span>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-cash-coin"></i>
                    </div>
                    <div class="ps-3">
                      <h6>&#8358;{{monthly_revenue|floatformat:1|intcomma}}</h6>
                      <span class="text-success small pt-1 fw-bold"></span>
                      <span class="text-muted small pt-2 ps-1"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Revenue Card -->

            <!-- Retention Card -->
            <div class="col-xxl-6 col-xl-4 col-lg-4 col-md-6">
              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">
                    Revenue Growth <span></span>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-reception-4"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{revenue_growth|stringformat:".1f"}}%</h6>
                      <span class="text-danger small pt-1 fw-bold"></span>
                      <span class="text-muted small pt-2 ps-1">Over last month</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Retention Card -->
             
            <!-- Check-in rate Card -->
            <div class="col-xxl-6 col-xl-4 col-lg-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">
                    Check-in Rate <span>this month</span>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-person"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{check_in_rate|stringformat:".1f"}} Guests/day</h6>
                      <span class="text-success small pt-1 fw-bold"></span>
                      <span class="text-muted small pt-2 ps-1"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Check-in rate Card -->

            <!-- Growth Card -->
            <div class="col-xxl-6 col-xl-4 col-lg-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">
                    Total Guests <span></span>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{guests|length}} Guests</h6>
                      <span class="text-danger small pt-1 fw-bold"></span>
                      <span class="text-muted small pt-2 ps-1"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Growth Card -->

            
            <!-- Total Guest Card -->
            <div class="col-xxl-6 col-xl-4 col-lg-4 col-md-6">
              <div class="card info-card customers-card">
                
                <div class="card-body">
                  
                  <h5 class="card-title">Customer Growth <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-graph-up"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{guest_growth|stringformat:".1f"}}%</h6>
                      <span class="text-success small pt-1 fw-bold"></span>
                      <span class="text-muted small pt-2 ps-1">Over last month</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Total Guest Card -->

          </div>
        </div>
        <!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-xxl-6 col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Check-in activity</h5>
              
              <!-- Bar Chart -->
              <div id="barChart"></div>
              <!-- End Bar Chart -->
            </div>
          </div>
        </div>
        <!-- End Right side columns -->

        <!-- Top Customers -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">

            <div class="card-body pb-0">
              <h5 class="card-title">Top Customers <span></span></h5>

              <table class="table table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Guest name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Total Days</th>
                    <th scope="col">Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for guest in top_guests_data %}
                  <tr>
                      <th scope="row">
                        <a href="#">{{ forloop.counter }}</a>
                      </th>
                      <td><a href="#" class="text-primary fw-bold">{{guest.name}}</a></td>
                      <td><a href="mailto:{{guest.email}}">{{guest.email}}</a></td>
                      <td class="fw-bold">{{guest.total_days}}</td>
                      <td>&#8358;{{ guest.total_revenue|floatformat:1|intcomma }}</td>
                    </tr>
                  {% endfor %}
                      
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Top Customers -->
      </div>
    </section>
  </main>
  <!-- End #main -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

</body>
<!-- Preloader -->
<div id="preloader"></div>
{% endblock content %}

