{% extends 'base.html' %}
{% load static %}


{% block content %}
  
<body>
    <main>
      <div class="container">
        <section
          class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div
                class="col-xl-5 col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center"
              >
                <div class="d-flex justify-content-center py-4">
                  <a
                    href="{% url 'dashboard' %}"
                    class="logo d-flex align-items-center w-auto"
                  >
                    <img src="{% static 'img/logoTEST.png' %}" alt="" />
                    <span class="d-none d-lg-block">Lodge</span>
                  </a>
                </div>
                <!-- End Logo -->

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">
                        Check-in a guest
                      </h5>
                      <p class="text-center small">
                        Fill in the guest information here
                      </p>
                    </div>

                    <form
                      class="row g-3 needs-validation"
                      novalidate
                      method="post"
                      action="{% url 'check-in' %}"
                    >
                      {% csrf_token %}
                      <div class="col-12">
                        <label for="yourName" class="form-label">Name</label>
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="yourName"
                          required
                        />
                        <div class="invalid-feedback">
                          Please, enter your name!
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="yourEmail" class="form-label">Email</label>
                        <input
                          type="email"
                          name="email"
                          class="form-control"
                          id="yourEmail"
                          required
                        />
                        <div class="invalid-feedback">
                          Please enter a valid Email adddress!
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="inputNumber" class="form-label"
                          >Phone number</label
                        >
                        <input
                          type="number"
                          name="phone"
                          min="0"
                          class="form-control"
                          id=""
                          required
                        />
                        <div class="invalid-feedback">
                          Please, enter a valid mobile number!
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="inputNumber" class="form-label"
                          >Room number</label
                        >
                        <select name="room" class="form-control" id="" required>
                          <option value="">Choose a room</option>
                          {% for room in rooms %}
                          <option value="{{room.id}}">
                            Room {{room.room_number}} - {{room.suite.type}} Suite
                          </option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                          Please, choose a room!
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="inputNumber" class="form-label"
                          >Length of Stay</label
                        >
                        <input
                          type="number"
                          name="duration"
                          min="0"
                          class="form-control"
                          id=""
                        />
                        <div class="invalid-feedback">
                          Please, enter the length of the guest's stay!
                        </div>
                      </div>

                      <div class="col-12">
                        <button class="btn btn-dark w-100" type="submit">
                          Check in
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

  </body>

  {% endblock content %}
