{% extends 'base.html' %}
{% load static %}


{% block content %}
  
<body>
  {% include 'partials/_header.html' %}
  
  {% include 'sidebar.html' %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Expenses</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Analytics</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

  <a href="{% url 'download_analytics_csv' %}"><p style="color: black;"><u>Download Report</u></p></a>

    <section class="section dashboard mt-0">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <!-- Recent Expenses -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"
                    ><i class="bi bi-three-dots"></i
                  ></a>
                  <ul
                    class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                  >
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body mb-0 pb-0">
                  <h5 class="card-title mb-0 pt-0">
                    Recent Expenses <span>| Today</span>
                  </h5>

                  <table class="table table-borderless datatable expense-table">
                    <thead>
                      <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Category</th>
                        <th scope="col" class="text-center">Product</th>
                        <th scope="col" class="text-center">Cost</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="text-center">1</th>
                        <td class="text-center">Utilities</td>
                        <td class="text-center">Fuel</td>
                        <td class="text-center">#20000</td>
                        <td class="text-center"><span class="btn-link">view</span></td>
                        <td class="text-center"><button type="button" class="btn btn-danger delete" style = "padding: 0px 4px;"><i class="bx bx-trash small"></i></button></td> 
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">1</th>
                        <td class="text-center">Utilities</td>
                        <td class="text-center">Fuel</td>
                        <td class="text-center">#20000</td>
                        <td class="text-center"><span class="btn-link">view</span><span class = "description">Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas. Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut. Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.</span></td>
                        <td class="text-center"><button type="button" class="btn btn-danger delete" style = "padding: 0px 4px;"><i class="bx bx-trash small"></i></button></td> 
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End Recent Sales -->

            <!-- Expense/budget Card -->
            <div class="col-6 col-sm-12 col-md-6">
              <div class="card">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"
                    ><i class="bi bi-three-dots"></i
                  ></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
    
                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>
    
                <div class="card-body pb-0">
                  <h5 class="card-title">
                    Budget Report <span>| This Month</span>
                  </h5>
    
                  <div
                    id="budgetChart"
                    style="min-height: 400px"
                    class="echart"
                  ></div>
    
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      var budgetChart = echarts
                        .init(document.querySelector("#budgetChart"))
                        .setOption({
                          legend: {
                            data: ["Allocated Budget", "Actual Spending"],
                          },
                          radar: {
                            // shape: 'circle',
                            indicator: [
                              {
                                name: "Sales",
                                max: 6500,
                              },
                              {
                                name: "Administration",
                                max: 16000,
                              },
                              {
                                name: "Information Technology",
                                max: 30000,
                              },
                              {
                                name: "Customer Support",
                                max: 38000,
                              },
                              {
                                name: "Development",
                                max: 52000,
                              },
                              {
                                name: "Marketing",
                                max: 25000,
                              },
                            ],
                          },
                          series: [
                            {
                              name: "Budget vs spending",
                              type: "radar",
                              data: [
                                {
                                  value: [4200, 3000, 20000, 35000, 50000, 18000],
                                  name: "Allocated Budget",
                                },
                                {
                                  value: [
                                    5000, 14000, 28000, 26000, 42000, 21000,
                                  ],
                                  name: "Actual Spending",
                                },
                              ],
                            },
                          ],
                        });
                    });
                  </script>
                </div>
              </div>
            </div>
            <!-- End Expense Card -->

            <!-- Category Card -->
            <div class="col-6 col-sm-12 col-md-6">
              <div class="card">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"
                    ><i class="bi bi-three-dots"></i
                  ></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
    
                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>
    
                <div class="card-body pb-0">
                  <h5 class="card-title">Expense Distribution <span>| Today</span></h5>
    
                  <div
                    id="trafficChart"
                    style="min-height: 400px"
                    class="echart"
                  ></div>
    
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      echarts
                        .init(document.querySelector("#trafficChart"))
                        .setOption({
                          tooltip: {
                            trigger: "item",
                          },
                          legend: {
                            top: "5%",
                            left: "center",
                          },
                          series: [
                            {
                              name: "Access From",
                              type: "pie",
                              radius: ["40%", "70%"],
                              avoidLabelOverlap: false,
                              label: {
                                show: false,
                                position: "center",
                              },
                              emphasis: {
                                label: {
                                  show: true,
                                  fontSize: "18",
                                  fontWeight: "bold",
                                },
                              },
                              labelLine: {
                                show: false,
                              },
                              data: [
                                {
                                  value: 1048,
                                  name: "Search Engine",
                                },
                                {
                                  value: 735,
                                  name: "Direct",
                                },
                                {
                                  value: 580,
                                  name: "Email",
                                },
                                {
                                  value: 484,
                                  name: "Union Ads",
                                },
                                {
                                  value: 300,
                                  name: "Video Ads",
                                },
                              ],
                            },
                          ],
                        });
                    });
                  </script>
                </div>
              </div>
            </div>
            <!-- End Category Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"
                    ><i class="bi bi-three-dots"></i
                  ></a>
                  <ul
                    class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                  >
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <!-- End Line Chart -->
                </div>
              </div>
            </div>
            <!-- End Reports -->

            
          </div>
        </div>
        <!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
          <div class = "row">
            <!-- Visitor Card -->
            <div class="col-xxl-12 col-md-6 col-sm-6  align-items-center justify-content-center">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    Expense <span>| This Month</span>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-person-plus"></i>
                    </div>
                    <div class="ps-3">
                      <h6>84</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span>
                      <span class="text-muted small pt-2 ps-1">increase</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Revenue Card -->

            <!-- Visitor Card -->
            <div class="col-xxl-12 col-md-6 col-sm-6  align-items-center justify-content-center">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    Budget <span>| This Month</span>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                      <i class="bi bi-person-plus"></i>
                    </div>
                    <div class="ps-3">
                      <h6>84</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span>
                      <span class="text-muted small pt-2 ps-1">increase</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Revenue Card -->
          </div>

          <!-- Expense log -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add new expense</h5>
              <div class="container-search-expenses">
                <div class="expense-select-box">
                  <div class="expense-options-container">
                    <div class="expense-option">
                      <input type="radio" class="radio" id="film" name="category" />
                      <label for="personnel">Personnel Costs</label>
                    </div>
          
                    <div class="expense-option">
                      <input type="radio" class="radio" id="science" name="category" />
                      <label for="utilities">Utilities</label>
                    </div>
          
                    <div class="expense-option">
                      <input type="radio" class="radio" id="art" name="category" />
                      <label for="maintenance">Maintenance and Repairs</label>
                    </div>
          
                    <div class="expense-option">
                      <input type="radio" class="radio" id="music" name="category" />
                      <label for="marketing">Marketing & Advertising</label>
                    </div>
          
                    <div class="expense-option">
                      <input type="radio" class="radio" id="travel" name="category" />
                      <label for="amenities">Guest Amenities</label>
                    </div>
          
                    <div class="expense-option">
                      <input type="radio" class="radio" id="sports" name="category" />
                      <label for="admin">Administrative Expenses</label>
                    </div>
          
                    <div class="expense-option">
                      <input type="radio" class="radio" id="news" name="category" />
                      <label for="food">Food & Beverage</label>
                    </div>
          
                    <div class="expense-option">
                      <input type="radio" class="radio" id="tutorials" name="category" />
                      <label for="insurance">Insurance</label>
                    </div>

                    <div class="expense-option">
                      <input type="radio" class="radio" id="tutorials" name="category" />
                      <label for="tax">Tax</label>
                    </div>

                    <div class="expense-option">
                      <input type="radio" class="radio" id="tutorials" name="category" />
                      <label for="system-fee">Reservation System Fees</label>
                    </div>
                   
                  </div>
  
                  <div class="selected-category breadcrumb" style="">
                    <i class="bi bi-search me-1"></i> Select expense category
                  </div>
      
                  <div class="expense-search-box">
                    <input type="text" placeholder="Search..." />
                  </div>
                </div>
              </div>

              <div class="form-container"></div>


          </div>
          <!-- End Expense log -->

        </div>
        <!-- End Right side columns -->
      </div>

    </section>
  </main>
  <!-- End #main -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

</body>
<!-- Preloader -->
<div id="preloader"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    echarts
      .init(document.querySelector("#trafficChart"))
      .setOption({
        tooltip: {
          trigger: "item",
        },
        legend: {
          top: "0%",
          left: "center",
        },
        series: [
          {
            name: "Cost",
            type: "pie",
            top: "10%",
            radius: ["40%", "70%"],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: "center",
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "18",
                fontWeight: "bold",
              },
            },
            labelLine: {
              show: false,
            },
            data: [
              {
                value: 1048,
                name: "Utilities",
              },
              {
                value: 735,
                name: "Maintenance",
              },
              {
                value: 580,
                name: "Marketing",
              },
              {
                value: 484,
                name: "Guest Amenities",
              },
              {
                value: 300,
                name: "Admin",
              },
              {
                value: 300,
                name: "Food",
              },
              {
                value: 300,
                name: "Insurance",
              },
              {
                value: 300,
                name: "Tax",
              },
              {
                value: 300,
                name: "System Fees",
              },
            ],
          },
        ],
      });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    new ApexCharts(
      document.querySelector("#reportsChart"),
      {
        series: [
          {
            name: "Sales",
            data: [31, 40, 28, 51, 42, 82, 56],
          },
          {
            name: "Revenue",
            data: [11, 32, 45, 32, 34, 52, 41],
          },
          {
            name: "Customers",
            data: [15, 11, 32, 18, 9, 24, 11],
          },
        ],
        chart: {
          height: 350,
          type: "area",
          toolbar: {
            show: false,
          },
        },
        markers: {
          size: 4,
        },
        colors: ["#4154f1", "#2eca6a", "#ff771d"],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100],
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 2,
        },
        xaxis: {
          type: "datetime",
          categories: [
            "2018-09-19T00:00:00.000Z",
            "2018-09-19T01:30:00.000Z",
            "2018-09-19T02:30:00.000Z",
            "2018-09-19T03:30:00.000Z",
            "2018-09-19T04:30:00.000Z",
            "2018-09-19T05:30:00.000Z",
            "2018-09-19T06:30:00.000Z",
          ],
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      }
    ).render();
  });
</script>

{% endblock content %}

