{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block content %}

<body>
  {% include 'partials/_header.html' %}
  
  {% include 'sidebar.html' %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Guest History</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Guest-history</li>
        </ol>
        {% if not guests %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle me-1"></i>
            There are no guests yet.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
      </nav>
    </div>
    <!-- End Page Title -->

    <a href="{% url 'download_history_csv' %}"><p style="color: black;"><u>Download History</u></p></a>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">History</h5>
              <p>Information about our guests.</p>

              <!-- Table with stripped rows -->
              <table
                class="table datatable table-group-divider table-bordered"
              >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th><b>N</b>ame</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Suite</th>
                    <th>Room</th>
                    <th data-type="date" data-format="YYYY/DD/MM">
                      Check-in Date
                    </th>
                    <th data-type="date" data-format="YYYY/DD/MM">
                      Check-out Date
                    </th>
                    <th scope="col">Room Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for guest in guests %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{guest.name}}</td>
                    <td>{{guest.email}}</td>
                    <td>{{guest.number}}</td>
                    
                    {% if guest.room.suite.type is null %}
                        <td><small style="color: red;">Deleted</small></td>
                        {% else %}
                        <td>{{guest.room.suite.type}}</td>
                    {% endif %}

                    {% if guest.room.room_tag is null %}
                      <td style="text-align: center;">
                        <small style="color: red;">Deleted</small>
                      </td>
                      {% else %}
                      <td style="text-align: center;">
                        {{guest.room.room_tag}}
                      </td>
                    {% endif %}

                    <td>{{guest.check_in|timezone:"Africa/Lagos"}}</td>
                    <td>{{guest.check_out|timezone:"Africa/Lagos"}}</td>
                    
                    {% if guest.room.room_tag is null %}
                      <td>
                        <span class="badge bg-danger">Room Deleted</span>
                      </td>
                      {% elif guest.room.room_status %}
                      <td><span class="badge bg-warning">Room Occupied</span></td>
                      {% else %}
                      <td><span class="badge bg-success">Room Vacant</span></td>
                    {% endif %}

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer"></footer>
  <!-- End Footer -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</body>
<!-- Preloader -->
<div id="preloader"></div>


{% endblock content %}
  