{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load tz %}


{% block content %}
  
<body>
    {% include 'partials/_header.html' %}
    
    {% include 'sidebar.html' %}

    <main id="main" class="main">
      <div class="pagetitle">
        <h1 class= "mb-2">Home</h1>
        <nav>
          <ol class="breadcrumb justify-content-between">
            <li class="breadcrumb-item active">Welcome, <span style = "color: #00796b; font-weight: bold">{{staff.username|title}}</span>.</li>
            <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
          </ol>
          {% for message in messages %}
            {% if message.tags == "warning" %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle me-1"></i>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% elif message.tags == "success" %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle me-1"></i>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-octagon me-1"></i>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
          {% endfor %}
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
              <!-- Guest Card -->
              <div class="col-xxl-4 col-xl-4">
                <div class="card info-card sales-card align-items-center justify-content-center">

                  <div class="card-body">
                    <h5 class="card-title">Active Guests</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-person"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{active_guests | length}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Sales Card -->

              <!-- Visitor Card -->
              <div class="col-xxl-4 col-xl-4">
                <div class="card info-card sales-card align-items-center justify-content-center">
                  

                  <div class="card-body">
                    <h5 class="card-title">
                       Total Guests
                    </h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-person-plus"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{total_guests}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Visitor Card -->

              <!-- Customers Card -->
              <div class="col-xxl-4 col-xl-4">
                <div class="card info-card sales-card align-items-center justify-content-center">
                  

                  <div class="card-body">
                    <h5 class="card-title">
                       Vacant Rooms
                    </h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bx bx-bed"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{available_rooms|length}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Customers Card -->

              <!-- Recent Check-ins -->
              <form action="{% url 'check-out' %}" method="post">
                {% csrf_token %}
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        
                        <div class="card-body">
                            <h5 class="card-title">
                                Recent Check-ins <span>| Today</span>
                            </h5>
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">X</th>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center">Guest</th>
                                        <th scope="col" class="text-center d-none d-lg-table-cell">Email</th>
                                        <th scope="col" class="text-center">Room</th>
                                        <th scope="col" class="text-center">Mobile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for guest in active_guests %}
                                    <tr>
                                        <td class="text-center">
                                            <input
                                                class="form-check-input me-1"
                                                type="checkbox"
                                                name="guest_ids" 
                                                value="{{guest.id}}"
                                                aria-label="..."
                                            />
                                        </td>
                                        <th scope="row" class="text-center"><a href="#">{{ forloop.counter }}</a></th>
                                        <td class="text-center">{{guest.name}}</td>
                                        <td class="text-center d-none d-lg-table-cell">
                                            <a href="mailto:{{guest.email}}">{{guest.email}}</a>
                                        </td>
                                        <td class="text-center">{{guest.room.room_tag}}</td>
                                        <td class="text-center">{{guest.number}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button
                                    id="table-checkout"
                                    type="button"
                                    class="btn btn-outline-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#verticalycentered"
                                >
                                    Check-out
                                </button>
                                <div class="modal fade" id="verticalycentered" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirm Checkout</h5>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                                ></button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="guestlist-modal"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                    type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                >
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">
                                                    Save changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
              <!-- End Recent Check-ins -->
            </div>
          </div>
          <!-- End Left side columns -->

          <!-- Right side columns -->
          <div class="col-lg-4">
            <!-- Recent Activity -->
            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">Recent Activity <!--<span>| {{now | date:'d-m-Y'}}</span>--></h5>
                
                {% for log in logs %}

                <div class="activity">
                  <div class="activity-item d-flex">
                    <div class="activite-label">{{log.timestamp |timezone:"Africa/Lagos" | date:'P'}}</div>
                    
                    {% if log.check_status %}
                        <i
                        class="bi bi-circle-fill activity-badge text-success align-self-start"
                      ></i>
                      <div class="activity-content">
                        {{log.action}}
                      </div>
                      {% else %}
                        <i
                        class="bi bi-circle-fill activity-badge text-danger align-self-start"
                      ></i>
                      <div class="activity-content">
                        {{log.action}}
                      </div>
                    {% endif %}
                      
                    
                  </div>
                  <!-- End activity item-->
                
                {% endfor %}

                </div>
                <div class = "breadcrumb-item mt-3">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item active"> <a href="{% url 'logs' %}"><span class="breadcrumb-item">View all Logs</span></a></li>
                  </ol>
                </div>
                
              </div>
            </div>
            <!-- End Recent Activity -->
          </div>
          <!-- End Right side columns -->
        </div>
      </section>
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>

  <!-- Preloader -->
  <div id="preloader"></div>

  {% endblock content %}
