{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
  <header id="header" class="header fixed-top d-flex align-items-center justify-content-center">
    
    <!-- End Logo -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'landing' %}" class="active">Home<br></a></li>
        <li><a href="#services">Pricing</a></li>
        <li><a href="{% url 'sign-up' %}">Sign Up</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->

  <main class="align-items-center">
     <!-- Hero Section -->
     <section id="hero" class="hero section">

      <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <img src="{% static 'img/hero.png' %}" class="img-fluid animated" alt="">
        <h1>Welcome to <span>LodgeIt</span></h1>
        <p>At LodgeIt, our mission is to provide seamless and efficient guest management solutions.</p>
        <div class="d-flex">
          <a href="{% url 'sign-up' %}" class="btn-get-started scrollto">Get Started</a>
          <a href="" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>View Demo</span></a>
        </div>
      </div>

    </section>
    <!-- /Hero Section -->

     <!-- Featured Services Section -->
     <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="" class="stretched-link">Affordable</a></h4>
              <p>Manage your guests effortlessly without breaking the bank—LodgeIt offers unbeatable affordability.</p>
            </div>
          </div
          ><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="" class="stretched-link">Powerful</a></h4>
              <p>Unleash the full potential of your Lodge with our software's powerful features and capabilities.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="" class="stretched-link">Easy To use</a></h4>
              <p>Get started in minutes—LodgeIt is designed to be intuitive and easy to use for your staff.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="" class="stretched-link">Reliable</a></h4>
              <p>Count on our reliability to keep your operations running smoothly, day in and day out.</p>
            </div>
          </div>
          <!-- End Service Item -->

        </div>

      </div>

    </section>
    <!-- /Featured Services Section -->


            


     <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Pricing</h2>
      </div>
      <!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="pricing-item featured">

              <div class="pricing-header">
                <h3>Lodge Plan</h3>
                <h4><span>From </span>N20,000<span> / month</span></h4>
              </div>

              <ul>
                <li><i class="bi bi-dot"></i> <span>Guest/Room Management</span></li>
                <li><i class="bi bi-dot"></i> <span>Analytics and Reporting</span></li>
                <li><i class="bi bi-dot"></i> <span>Unlimited Usage</span></li>
                <li><i class="bi bi-dot"></i> <span>Free Business Landing Page</span></li>
                <li><i class="bi bi-dot"></i> <span>Optional Custom Feature Add-ons</span></li>
              </ul>

              <div class="text-center mt-auto">
                <a href="{% url 'sign-up' %}" class="buy-btn">Get Started</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->

          

        </div>

      </div>

    </section>
    <!-- /Pricing Section -->
  </main>

  
  <footer id="footer" class="footer dark-background">

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>LodgeIt</span></strong>. All Rights Reserved
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>


</body>
{% endblock content %}
