{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load tz %}


{% block content %}
  
<body>
    {% include 'partials/_header.html' %}
    
    {% include 'sidebar.html' %}

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Logs</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Logs</li>
          </ol>
          {% if not logs %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle me-1"></i>
            There are no logs yet.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          <a href="{% url 'download_logs_csv' %}"><p style="color: black;"><u>Download Logs</u></p></a>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
        <!-- Right side columns -->
        <div class="col-lg-8">
            <!-- Recent Activity -->
            <div class="card">
                <div class="card-body">
                    {% for year, months in logs_structure.items %}
                    <h5 class="card-title">{{ year }}</h5>
    
                    {% for month, days in months.items %}
                    <h5 class="card-header">{{ month }}</h5>
    
                    <!-- Accordion without outline borders -->
                    <div class="accordion accordion-flush" id="accordionFlush-{{ year }}-{{ month }}">
                        {% for day, logs in days.items %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-{{ year }}-{{ month }}-{{ day }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ year }}-{{ month }}-{{ day }}" aria-expanded="false" aria-controls="flush-collapse-{{ year }}-{{ month }}-{{ day }}">
                                    {{ day }}/{{ month }}/{{ year }}, {{ logs.0.timestamp|date:"l" }}
                                </button>
                            </h2>
                            <div id="flush-collapse-{{ year }}-{{ month }}-{{ day }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ year }}-{{ month }}-{{ day }}" data-bs-parent="#accordionFlush-{{ year }}-{{ month }}">
                                <div class="accordion-body">
                                    {% for log in logs %}
                                    <div>{{ log.timestamp|timezone:"Africa/Lagos"|date:"H:i a" }} {{ log.action }} {{ log.username }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!-- End Accordion without outline borders -->
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <!-- End Recent Activity -->
        </div>
        <!-- End Right side columns -->
    </section>
    
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>
  <!-- Preloader -->
  <div id="preloader"></div>

  {% endblock content %}
