{% extends 'base.html' %} {% load static %} {% block content %}

<body>
  <main>
    <div class="container">
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-xxl-5 col-xl-5 col-lg-6 col-md-8 col-sm-10 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="card mb-3">
                <div class="card-header">
                  <div class="d-flex justify-content-center">
                    <a
                      href="{% url 'dashboard' %}"
                      class="logo d-flex align-items-center w-auto"
                    >
                      <img
                        src="{% static 'img/logoTEST.png' %}"
                        alt=""
                        class="d-lg-none"
                      />
                      <span class="d-none d-lg-block full-logo">LodgeIt</span>
                    </a>
                  </div>
                  <!-- End Logo -->
                  <h5 class="card-title text-center pb-0 fs-4">Onboarding</h5>
                </div>
                <div class="card-body">
                  <p class="text-center small card-subtitle mb-2 text-muted">
                    Fill your company information here
                  </p>
                  <div class="pt-2 pb-2">
                    <form class="row g-2" action="" method="post">
                      {% csrf_token %}

                      <!-- Company Name -->
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input
                            name="company_name"
                            type="text"
                            class="form-control"
                            id="company_name"
                            placeholder="Your Name"
                            required
                          />
                          <label for="company_name">Company Name</label>
                          <div class="invalid-feedback">
                            Please, enter your company name!
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12 col-md-12 text-center">
                        <span class="card-subtitle mb-2 text-muted small"
                          >Suite Details</span
                        >
                        <table
                          class="table table-bordered table-sm mt-2 mb-0 small"
                          style="display: none"
                        >
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Type</th>
                              <th scope="col">Rooms</th>
                              <th scope="col">Price</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>

                      <!-- Initial suite input fields -->
                      <div class="col-lg-12 col-md-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control"
                            name="suite_type_1"
                            id="suite_type_1"
                            placeholder="Suite type"
                            required
                          />
                          <label for="suite_type_1" class="form-label small"
                            >Suite type</label
                          >
                          <div class="invalid-feedback">
                            Please, enter a value!
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-floating">
                          <input
                            type="number"
                            name="suite_rooms_1"
                            id="suite_rooms_1"
                            min="0"
                            class="room-count form-control"
                            data-suite-index="1"
                            placeholder="Rooms in suite"
                            required
                          />
                          <label for="suite_rooms_1" class="form-label small"
                            >Rooms in Suite</label
                          >
                          <div class="invalid-feedback">
                            Please, enter a value!
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-floating">
                          <input
                            type="number"
                            class="form-control"
                            id="suite_price_1"
                            name="suite_price_1"
                            min="0"
                            placeholder="Price"
                            required
                          />
                          <label for="suite_price_1" class="form-label small"
                            >Price</label
                          >
                          <div class="invalid-feedback">
                            Please, enter a value!
                          </div>
                        </div>
                      </div>

                      <!-- Button to add more suites -->
                      <div class="col-6">
                        <button
                          class="btn btn-lg btn-outline-secondary w-100"
                          type="button"
                          id="add-suite"
                        >
                          Add suite
                        </button>
                      </div>

                      <div
                        class="text-center"
                        id="suites-container"
                        style="display: none"
                      >
                        <!-- Initial suite input fields -->
                      </div>

                      {% comment %}

                      <div class="d-flex mt-2">
                        <div class="col-6 small">
                          <button
                            class="btn btn-outline-secondary w-100"
                            type="button"
                            id="customRoomTags"
                          >
                            Custom Tags
                          </button>
                        </div>

                        <!-- Button to add more suites -->
                        <div class="col-6">
                          <button
                            class="btn btn-outline-secondary w-100"
                            type="button"
                            id="add-suite"
                          >
                            Add Suite
                          </button>
                        </div>
                      </div>
                      {% endcomment %}

                      <!-- Submit Button -->
                      <div class="col-6">
                        <button
                          class="btn btn-dark btn-lg w-100 btn-js"
                          type="submit"
                          data-bs-toggle="modal"
                          data-bs-target="#verticalycentered"
                        >
                          Submit
                        </button>
                      </div>
                      <!-- Vertically centered Modal -->
                      <div
                        class="modal fade"
                        id="verticalycentered"
                        tabindex="-1"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title"></h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <span class="card-subtitle mb-2 text-muted small"
                                >Please confirm the following details:
                              </span>
                              <table
                                class="table table-bordered table-sm mt-2 mb-0 small text-center"
                                style="display: none"
                              >
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Rooms</th>
                                    <th scope="col">Price</th>
                                  </tr>
                                </thead>
                                <tbody></tbody>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                              >
                                Cancel
                              </button>
                              <button type="button" class="btn btn-primary">
                                Confirm
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Vertically centered Modal-->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

{% endblock content %}
