{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
<body>

  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>505</h1>
        <h2>Something went wrong</h2>
        <a class="btn btn-dark" href="{% url 'dashboard' %}">Back to home</a>
        <img src="{% static 'img/error404.svg' %}" class="img-fluid py-5" alt="Page Not Found">
      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
<!-- Preloader -->
<div id="preloader"></div>
{% endblock content %}