{% extends 'base.html' %}
{% load static %}


{% block content %}
<body>
  <main>
    {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"></i>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      {% endif %}

    <div class="container">
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-4 col-md-8 d-flex flex-column align-items-center justify-content-center"
            >

            <div class="card mb-3">
              <div class="card-header">
                <div class="d-flex justify-content-center">
                  <a
                    href="{% url 'landing' %}"
                    class="logo d-flex align-items-center w-auto"
                  >
                    <img
                      src="{% static 'img/logoTEST.png' %}"
                      alt=""
                      class="d-lg-none"
                    />
                    <span
                      class="d-none d-lg-block"
                      >LodgeIt</span
                    >
                  </a>
                </div>
                <!-- End Logo -->
                <h5
                  class="card-title text-center pb-0 fs-4"
                >
                  Sign Up
                </h5>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-2pb-2">
                    <p class="text-center small">
                      Enter your details to Sign Up
                    </p>
                  </div>

                  <form 
                    class="row g-3 needs-validation"
                    novalidate
                    method="post"
                    action="{% url 'sign-up' %}">
                    {% csrf_token %}

                    <div class="col-12">
                      <label for="yourEmail" class="form-label"
                        >Username</label
                      >
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="yourUsername"
                        required
                      />
                      <div class="invalid-feedback">
                        Please enter a username!
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <label for="yourEmail" class="form-label"
                        >Email</label
                      >
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="yourEmail"
                        required
                      />
                      <div class="invalid-feedback">
                        Please enter a valid Email address!
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="yourPassword"
                        required
                      />
                      <div class="invalid-feedback">
                        Please enter your password!
                      </div>
                    </div>
                    <div class="col-12 m-0">
                      <a href="{% url 'sign-in' %}" class="small">
                          Sign In
                      </a>
                    </div>
                    
                    <div class="col-12">
                      <button class="btn btn-dark w-100" type="submit">
                        Sign Up
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
</body>
  <!-- End #main -->
  
{% endblock content %}
