{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
  
<body>
  {% include 'partials/_header.html' %}
  
  {% include 'sidebar.html' %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Guest History</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="bi bi-house-door"> Home</i></a></li>
          <li class="breadcrumb-item active">Room-Carousel</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Carousel</h5>
              <p>Available room options</p>

              <!-- Room carousel -->
              <div class="movie-container">
                <select id="suite" class="room-select form-select" onchange="updateUI(this)">
                  <option value="" selected disabled>
                    Select a suite
                  </option>
                  {% comment %} <option value="All">All Suites</option> {% endcomment %}
                  {% for suite_type in suite_types %}
                    
                      <option value="{{suite_type}}">{{suite_type}} Suite</option>
                      
                  {% endfor %}
                    
                  
                </select>
      
                <ul class="showcase">
                  <li>
                    <div class="room-des"></div>
                    <small>N/A</small>
                  </li>
                  <li>
                    <div class="room-des occupied"></div>
                    <small>Occupied</small>
                  </li>
                </ul>

                <!-- Vertically centered Modal -->
                <div class="modal fade" id="verticalycentered" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-black">
                      <div class="modal-header">
                        <h5 class="modal-title">Room Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!-- Occupancy details will be dynamically inserted here by JavaScript -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Vertically centered Modal -->

      
                <div class="container-room-select">
                  <div class="row">
                    {% for suite_type, rooms in suite_types.items %}

                        <div id="{{suite_type}}-suite" class="suite-info">
                          {% include "room_list.html" with rooms=rooms room_guest_mapping=room_guest_mapping %}
                        </div>

                    {% endfor %}
                  </div>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer"></footer>
  <!-- End Footer -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

</body>

{% endblock content %}