{% load static %}

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/room-carousel.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/clock.js' %}"></script>
<script src="{% static 'js/landing.js' %}"></script>
<script src="{% static 'js/check-in.js' %}"></script>
<script src="{% static 'js/preloader.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/onboarding.js' %}"></script>

<script type="text/javascript">
    var csrftoken = '{{ csrf_token }}';
    var checkOutUrl = "{% url 'check-out' %}";
    var checkInUrl = "{% url 'check-in' %}";
    var dashboard = "{% url 'dashboard' %}";
    var extendUrl = "{% url 'extend' %}";
    var addStaffUrl = "{% url 'staff-add' %}"
    var editStaffUrl = "{% url 'staff-edit' %}"
    var deleteSuiteUrl = "{% url 'delete-suite' %}"
    var checkInData = {{ check_in_data|safe }};
</script>