{% load static %}

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/room-carousel.js' %}"></script>

<script type="text/javascript">
    var csrftoken = '{{ csrf_token }}';
    var checkOutUrl = "{% url 'check-out' %}";
    var checkInUrl = "{% url 'check-in' %}";
</script>

<script src="{% static 'js/charts.js' %}"></script>

<script type="text/javascript">
    var checkInData = {{ check_in_data|safe }};
</script>

<script src="{% static 'js/onboarding.js' %}"></script>