{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
  
<body>
    {% include 'partials/_header.html' %}
    
    {% include 'sidebar.html' %}

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Settings</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Settings</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- Bordered Tabs Justified -->
            <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
              <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
              </li>
              <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Staff Profiles</button>
              </li>

            </ul>
            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
              <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                
              </div>
              <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                <section class="section contact">

                  
                
                    <div class="col-12">

                      <div class="row">
                        <div class="col-4">
                          <div class="info-box card">
                            <i class="bi bi-person"></i>
                            {% for staff in staffs %}
                            <h3 class="card-title">{{staff}} </h3>
                            {% endfor %}
                            <a href="#"><small>edit</small></a>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="info-box card">
                            <i class="bi bi-telephone"></i>
                            <h3>Call Us</h3>
                            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                          </div>
                        </div>
                        <a href="#"><p>Add new staff</p></a>  
                      </div>
                    </div>
                  </div>
                </section>
             
              </div><!-- End Bordered Tabs Justified -->

          </div>
        </div>

      </div>
    </main>
    <!-- End #main -->

    

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>

  {% endblock content %}
