{% load static %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" id = "nav-dashboard" href="{% url 'dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" id = "nav-rooms" href="{% url 'rooms' %}">
          <i class="bi bi-building"></i>
          <span>Rooms</span>
        </a>
      </li>
      <!-- End Room-Carousel Nav -->

      {% if staff.owner %}
      <li class="nav-item">
        <a class="nav-link collapsed" id = "nav-analytics" href="{% url 'analytics' %}">
          <i class="bi bi-bar-chart-line"></i>
          <span>Analytics</span>
        </a>
      </li>
      <!-- End Analytics Nav -->
      {% endif %}

      <li class="nav-item">
        <a class="nav-link collapsed" id = "nav-history" href="{% url 'history' %}">
          <i class="bi bi-clock-history"></i>
          <span>Guest History</span>
        </a>
      </li>
      <!-- End Guest History Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" id = "nav-dashboard" href="{% url 'logs' %}">
          <i class="bi bi-book-half"></i>
          <span>Logs</span>
        </a>
      </li>
      <!-- End Logs Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'settings' %}">
          <i class="bi bi-sliders"></i>
          <span>Settings</span>
        </a>
      </li>
      <!-- End Log Out Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-left"></i>
          <span>Log Out</span>
        </a>
      </li>
      <!-- End Log Out Nav -->
      
    </ul>
  </aside>
  <!-- End Sidebar-->