.clock {
  top: 50%;
  color: #00796b;
  font-family: "Roboto";
  letter-spacing: 2px;
}

.full-display {
  display: none;
}

@media (min-width: 768px) {
  .full-display {
    display: inline;
  }

  .mobile-display {
    display: none;
  }
}